
h1{
    font-size: 36px;
    padding: 10px 0px;
    padding-bottom:0px;
}
p{
    padding: 10px 0px;
}


/*/////////////////
| domain specific |
/////////////////*/
body{
    background: url("../img/navbar.png") repeat-x;
    font-family: trebuchet "Trebuchet MS";
    color: #4c67a2;
}
a{
    cursor: pointer;
}
a, a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #283757;
}
.dropdown{
    background-color: #aec8fe;
    padding: 5px;
    border: 1px solid #4c67a2;;
}
.dropdown a{
    color: #4c67a2;
}
.dropdown li{
    padding: 2px;
}



/*//////////////////
| Category Changer |
//////////////////*/
form.category-select{
    display: inline;
    vertical-align: top;
}
.item-meta{
    margin: 10px 0px;
    padding: 0px;
}
.category-name{
    font-size: 18;
    vertical-align: top;
}
.change{
    font-size: 12;
    vertical-align: top;
}
#id_category{
    width: 100%;
    min-width: 100%;
}


/*/////////
| Content |
/////////*/
#content a{
    color: #283757;
}
#content a:hover{
    color: #4c67a2;
}


/*/////////////////
| Authentication |
////////////////*/
.left-form{
    width: 300px;
    float: left;
    padding-right: 30px;
}
#basic-form legend{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
#basic-form img{
    vertical-align: middle;
    padding-right: 10px
}
.login td.label{
    min-width: 150px;
}
.login td.field{
    width: 100%;
}
.login td.field input{
    width: 100%;
}
.login td.field input[type=checkbox]{
    width: 1px;
}
#basic-form p, #basic-form span{
    font-size: 12px;
}



/*/////////////
| Post Header |
/////////////*/
.post-header{
    background-color: #dde5fe;
    float: left;
}
.post-header h1{
    width: 450px;
    font-size: 26px;
    font-weight: normal;
    padding: 5px 12px;
    float: left;
}
.post-header a{
    color: #4c67a2;
}
.post-header a:hover{
    color: #283757;
}
.post-header ul{
    margin: 10px 0px;
    margin-right: 12px;
    width: 150;
    float: left;
    text-align: right;
    vertical-align: top;
}
.post-header ul li{
    display: table-cell;
    font-size: 20px;
    vertical-align: top;
    width: 100%;
    padding-right: 10px;
}
.post-header ul li img{
    padding-top: 4px;
}
.post-header .author{
    width: 450px;
    padding: 5px 10px;
}
.post-header .author span{
    color: black;
    
}
.post-header .date{
    width: 150px;
    text-align: right;
    font-size: 12px;
}
.post-header{
    margin: 10px 0px;
    margin-bottom: 5px;
}
div.unread{
    border: solid 3px #4c67a2;
}
div.unread ul{
    margin-right: 9px;
}


/*////////////
| Pagination |
////////////*/
.pagination{
    padding: 20px;
}
.pagination a{
    color: #4c67a2;
}
.pagination a:hover{
    background-color: #dde5fe;
    color: #283757;
}   
.page, .prev, .next{
    border: #283757 solid 1px;
    padding: 5px;
}
.current{
    color: black;
    border: dashed 1px #283757;
}
.disabled{
    display: none;
}



/*//////////
| Side Bar |
//////////*/
#sidebar .article{
    font-size: 14px;   
}
#sidebar .article a{
    color: #283757;
}#sidebar .article a:hover{
    color: white;
}
#sidebar .feed{
    color: #4c67a2;
    padding-left: 20px;
}
#sidebar .feed a{
    color: #4c67a2;
}
#sidebar .feed a:hover{
    color: #283757;
}
#login{
    padding: 10px 20px;
    background-color: #aec8fe;
}
#sidebar .subdirectory{
    border-bottom: 1px solid #283757;
    padding-top: 5px;
}
#sidebar .subdirectory li{
    padding: 2px 5px;
    background-color: #dde5fe;
    border-top: 1px solid #283757;
    
}
#sidebar p{
    margin: 2px 2px;
    padding: 0px;
}
#sidebar h1{
    font-size: 32px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
#sidebar h2{
    font-size: 26px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
#sidebar li.unread{
    font-weight: bold;
    background-color: #f0f3fb;
}
.author, .feed{
    font-size: 12px;
}
#sidebar ul.button-list{
    display: inline;
}
#sidebar ul.button-list li{
    display: inline;
    vertical-align: middle;
    padding: 2px 0px;
}
#sidebar .stacked img{
    padding: 2px;
    margin-right: 3px;
}
#sidebar .stacked{
    width: 15px;
    float: left;
    padding-right: 3px;
}
#sidebar .manage-list{
    padding: 2px 0px;
}
.collapser{
    padding-right: 2px;
}
p.unread{
    font-weight: bold;
}
a.category{
    color: #4c67a2;
    font-size: 24px;
}
a.category:hover{
    color: #283757;
}
a.category span{
    color: #283757;
}


/*///////
| Other |
///////*/
.top{
    padding-bottom: 20px;
}
#logo{
    margin-left: -40px;
}
#tag{
    margin-top: 20px;
    margin-left: -20px;
}

#info-bar{
    text-align: right;
}
#header{
    padding-top: 20px;
    margin-left: 40px;
}
#header > ul > li{
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
}
#user-info{
    color: white;
    text-align: right;
    padding: 0px;
    font-size: 12px;
}
.unread{
    font-weight: bold;
}
/*        #header ul li a, #header ul li a:visited{
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 170px;
    background-color: #62b821;
    border: solid #4c67a2;
    font-size: 30px;
    text-decoration: none;
    color: #e9da32;
}*/
#header ul li a:hover{
    color: #e9da32;
}
hr{
    color: #4c67a2;
    background-color: #4c67a2;
    height: 3px;
    padding: 0px;
    margin: 0px;
}
#username{
    font-weight: bold;
}
#header h1{
    font-size: 72px;
}




#login dt{
    padding: 5px;
}
#login dd{
    padding: 0px 5px;
    padding-bottom: 5px;
}
#login input[type=text], #login input[type=password]{
    width: 225;
}
#login input[type=submit]{
    margin: 5px;
}
input[type=submit]{
    margin: 10px 0px;
}
form dl{
    margin: 10px 0px;
}
form dl dt{
    margin: 10px 0px;
}
form dl dd{
    margin: 10px 0px;
}

.manage-list a{
    color: #4c67a2;
    margin-right: auto;
}
.manage-list ul{
    margin-left: auto;
}/*
form ul{
    list-style: none;
    padding: 5px 0px;
}*/


/*   PPPPPPPPPP       OOOOOO        SSSS     TTTTTTTTTT
     PP      PPP    OOO    OOO    SSS  SSS       TT
     PP      PPP    OO      OO    SS             TT
     PPPPPPPPPP     OO      OO     SSS           TT
     PP             OO      OO        SSS        TT
     PP             OOO    OOO    SSS   SSS      TT
     PP               OOOOOO        SSSS         TT
*/


.post-body{
    color: black;
}
.post-body a{
    color: #4c67a2;
}
.post-body h1{
    font-weight: bold;
}
.post-body{
    padding: 10px;
    padding-top: 0px;
}
