{% extends "site_base.html" %}

{% block sidebar %}
<form id="login" method="post" action="#">
    <dl>
        <dt>{{ form.username.label_tag }}</dt>
        <dd>{{ form.username }}</dd>
        <dt>{{ form.password.label_tag }}</dt>
        <dd>{{ form.password }}</dd>
    </dl>
    <input type="submit" value="Log In" \>
</form>
{% endblock %}

{% block body %}
    <h1>Welcome to NewsPet</h1>
    <p>Do you ever find yourself going through too many articles that you don't 
       want to read.  Try a feed reader that's knows what you want.  It will
       <ul>
           <li>Increase your free time</li>
           <li>Keep you more organized</li>
           <li>Some other ridiculous general promise</li>
{% endblock %}