{% extends "site_base.html" %}

{% block sidebar %}
    <h2>Manage Feeds</h2>
    {% for feed in feeds %}
    <div class="manage-list">
        <ul class="button-list">
            <li>
                <a href={% url f_edit_feed feed.id %}><img src="{{MEDIA_URL}}img/edit.png" /></a>
                <a href={% url f_delete_feed feed.id %}><img src="{{MEDIA_URL}}img/delete.png" /></a>
            </li>
        </ul>
        <a href="{{feed.get_absolute_url}}">
        {{feed}}
        </a>
    </div>
    {% endfor %}
{% endblock %}

{% block body %}
{% if feed %}
<h1>Edit Feed: {{feed}}</h1>
{% else %}
<h1>Add a Feed</h1>
{% endif %}
<form method="post" action"">
    <dl>
    {% for field in feed_form %}
        <dt>{{field.label}}:</dt>
        <dd>{{field}}</dd>
    {% endfor %}
    </dl>
    {% if feed %}
    <input type="submit" value="Change"/>
    {% else %}
    <input type="submit" value="Create"/>
    {% endif %}
</form>
{% endblock %}