{% extends "site_base.html" %}

{% block sidebar %}
    <h2>Manage Categories</h2>
    {% for category in categories %}
    <div class="manage-list">
        <ul class="button-list">
            
                <li><div class="stacked">
                    {% if forloop.first %}
                    <img src="{{MEDIA_URL}}img/up-arrow-disabled.png" />
                    {% else %}           
                    <a href="{% url f_category_up category.id %}"><img src="{{MEDIA_URL}}img/up-arrow.png" /></a>
                    {% endif %}          
                    {% if forloop.last %}
                    <img src="{{MEDIA_URL}}img/down-arrow-disabled.png" />
                    {% else %}           
                    <a href="{% url f_category_down category.id %}"><img src="{{MEDIA_URL}}img/down-arrow.png" /></a>
                    {% endif %}
                </div></li>
                {% if category.is_trash %}
                <li><img src="{{MEDIA_URL}}img/edit_disabled.png" /></li>
                {% else %}
                <li><a href={% url f_edit_category category.id %}><img src="{{MEDIA_URL}}img/edit.png" /></a></li>
                {% endif %}
            
        </ul>
        <a href="{{category.get_absolute_url}}">
        {{category.name}}
        </a>
    </div>
    {% endfor %}
{% endblock %}

{% block body %}
{% if category %}
<h1>Edit Category: {{category}}</h1>
{% else %}
<h1>Add a Category</h1>
{% endif %}
<form method="post" action"">
    <dl>
    {% for field in category_form %}
        <dt>{{field.label}}:</dt>
        <dd>{{field}}</dd>
    {% endfor %}
    {% for field in training_set_form %}
        <dt>{{field.label}}:</dt>
        <dd>{{field}}</dd>
    {% endfor %}
    </dl>
    {% if category %}
    <input type="submit" value="Change"/>
    {% else %}
    <input type="submit" value="Create"/>
    {% endif %}
</form>
{% endblock %}