{% extends "base.html" %}

{% block sidebar %}
    <h1>Manage Categories</h1>
    {% for category in categories %}
    <div class="manage-list">
        <ul class="button-list">
            <li>
                <ul>
                    <li><img src="{{MEDIA_URL}}img/up_arrow.png" /></li>
                    <li><img src="{{MEDIA_URL}}img/down_arrow.png" /></li>
                </ul>
                {% if category.is_trash %}
                <img src="{{MEDIA_URL}}img/edit_disabled.png" />
                {% else %}
                <a href={% url f_edit_category category.id %}><img src="{{MEDIA_URL}}img/edit.png" /></a>
                {% endif %}
            </li>
        </ul>
        <a href="{{category.get_absolute_url}}">
        {{category.name}}
        </a>
    </div>
    {% endfor %}
{% endblock %}

{% block content %}
{% if category %}
<h1>Edit Category: {{category}}</h1>
{% else %}
<h1>Add a Category</h1>
{% endif %}
<form method="post" action"">
    <dl>
    {% for field in category_form %}
        <dt>{{field.label}}:</dt>
        <dd>{{field}}</dd>
    {% endfor %}
    {% for field in training_set_form %}
        <dt>{{field.label}}:</dt>
        <dd>{{field}}</dd>
    {% endfor %}
    </dl>
    {% if category %}
    <input type="submit" value="Change"/>
    {% else %}
    <input type="submit" value="Create"/>
    {% endif %}
</form>
{% endblock %}